<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>QuizApp</title>
</head>

<body>
  <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>Wanna get quizzy??? Click below!</h3>
      <% for(let quiz of publicQuizzes){ %>
        <p>
          <%=JSON.stringify(quiz)%>
        </p>
        <div class="form-group mb-2" style="justify-content:space-around">
          <form method="GET" action="/quizzes/<%=quiz.id %>"><button type="click" class="btn btn-primary"><%=quiz.name%></button></form>
        </div>
        <% }%>
          <%=JSON.stringify(locals) %>
            <!-- <div class="form-group mb-2">
        <iframe src="https://gifer.com/embed/G0O8" width=480 height=366.000 frameBorder="0" allowFullScreen></iframe>
      </div> -->
            <div class="form-group mb-2">
              <h4>Now create your own quiz and share it with your friends!</h4>
              <a href="/quizzes/new"><button type="click" class="btn btn-primary">Create New Quiz</button></a>
            </div>
            <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <td>


          <td>
            <form method="POST" action="/"><button type="submit">Delete</button></form>

        </tbody>
      </table> -->
    </main>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>
